<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="F:/Workspace/FitCrowd/src/test/java/com/fit/loginPage/LoginPageTests.java">
        <groups>
            <run>
                <include name="checkHome"/>
            </run>
        </groups>

        <classes>
            <class name="com.fit.loginPage.LoginPageTests">
                <methods>
                    <include name="validCredentials"/>
                </methods>

            </class>

            <!--<class name="com.fit.trainerProfilePage.TrainerProfileTests"/>-->
            <!--<class name="com.fit.classesPage.ClassesPageTests"/> -->
            <!--<class name="com.fit.schedulePage.SchedulePageTests"/>-->
            <class name="com.fit.homePage.HomePageTests"/>

        </classes>

    </test>
</suite>